.container
  position: relative
  overflow: hidden
  width: 177px
  height: 155px
  border-radius: 9px
  background-color: #353b53
  color: white
  padding: 18px
  display: flex
  flex-direction: column
  justify-content: space-between

.card
  padding: 15px

.letter
  font-weight: 400
  font-size: 20px

.title
  font-weight: 400
  font-size: 18px
  margin-bottom: 15px

p
  margin-top: 5px
  font-size: 13px
  color: #A9A9A9

.progress
  position: absolute
  top: 0
  left: 0
  height: 5px
  background-color: #61def4
