.header
    display: flex
    align-items: center

.ava
    min-width: 100%
    min-height: 100%
    object-fit: cover
    &Box
        width: 50px
        height: 52px
        border-radius: 32px 5px 32px 32px
        display: flex
        overflow: hidden
        position: relative

.arrow
    margin-left: 5px

.online
    width: 13px
    height: 13px
    border-radius: 50%
    background-color: yellow
    border: 1px solid white
    bottom: 0
    right: 0
    position: absolute
